<div class="items-container">
  <h2>Detalles del Pokémon</h2>
  <mat-list>
    <mat-list-item>
      <h3 matListItemTitle>{{ item.name }}</h3>
      <span matListItemLine>Types ({{ item.types.split(',').length }}): {{ item.types }}</span>
      <span matListItemLine>Abilities ({{ item.abilities.split(',').length }}): {{ item.abilities }}</span>
      <span matListItemLine>Weight: {{ item.weight }} kg.</span>
      <span matListItemLine>Height: {{ item.height }} cm.</span>
    </mat-list-item>
  </mat-list>
</div>
